name: autofix.ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  autofix:
    if: ${{ github.repository_owner == 'mirkolenz' }}
    runs-on: ubuntu-slim
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            accept-flake-config = true
            eval-cores = 0
            download-buffer-size = 1000000000
            log-lines = 200
      - run: nix fmt
      - uses: autofix-ci/action@v1
        with:
          commit-message: "chore: reformat code"
