name: checks
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            accept-flake-config = true
            eval-cores = 0
            download-buffer-size = 1000000000
            log-lines = 200
      - name: nix flake check
        run: |
          nix flake check \
            --show-trace
  build-matrix:
    name: build.${{ matrix.system }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # https://docs.github.com/en/actions/reference/runners/github-hosted-runners
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
          - system: x86_64-linux
            runner: ubuntu-24.04
          - system: aarch64-darwin
            runner: macos-26
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            accept-flake-config = true
            keep-going = true
            eval-cores = 0
            download-buffer-size = 1000000000
            log-lines = 200
      - uses: cachix/cachix-action@v16
        with:
          name: mirkolenz
          authToken: ${{ secrets.CACHIX_TOKEN }}
      # todo: automatically update hashes for failed builds
      # https://docs.determinate.systems/guides/automatically-fix-hashes-in-github-actions/
      - name: nix build
        run: |
          nix run .#pkgs-builder -- \
            --show-trace \
            --no-link \
            --flake .
  build:
    needs: build-matrix
    runs-on: ubuntu-slim
    if: always()
    steps:
      - run: |
          result="${{ needs.build-matrix.result }}"
          if [[ $result == "success" ]]; then
            exit 0
          else
            exit 1
          fi
