on:
  push:
    branches: [main]
  pull_request:
jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v8
      - run: "nix flake check"
      - run: "nix flake show"
